@import "src/assets/styles/variables.scss";

.mat-toolbar {
  background-color: $contrast-color; /* Zielony kolor tła dla paska narzędziowego */
}

.toolbar {
  .row {
    height: 100%;
    align-items: center;
  }

  span {
    font-size: 1.5rem; /* Rozmiar czcionki dla tytułu/logo */
    color: black; /* Biały kolor tekstu */
    margin-right: 16px; /* Odstęp między tytułem a spacerem */
  }

  .example-spacer {
    flex: 1; /* Pozostała przestrzeń między elementami */
  }

  button {
    color: black; /* Biały kolor tekstu przycisku */
    min-width: 0; /* Zapobiega rozciąganiu przycisków */
  }

  .col-2,
  .col-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .col-3 button {
    margin-left: 8px; /* Odstęp między przyciskami w trzeciej kolumnie */
  }
}
