<ng-container *ngIf="data$ | async as data">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <div class="row w-100">
        <div class="col-5">
          <span>Logo/Title</span>
          <span class="example-spacer"></span>
        </div>
        <ng-container *ngIf="data.token$">
          <div class="col-2 d-flex align-items-center justify-content-end">
            <button class="w-25" [routerLink]="'/exercises'" mat-icon-button>Gramatyka</button>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-end">
            <button class="w-25" [routerLink]="'/decks'" mat-icon-button>Fiszki</button>
          </div>

          <div class="col-3 d-flex justify-content-end">
            <button [routerLink]="'/settings'" mat-icon-button>
              <mat-icon color="secondary">settings</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()">
              <mat-icon color="secondary">exit_to_app</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
