<ng-container *ngIf="data$ | async as data">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <div class="row w-100">
        <div class="col-9">
          <span>Logo/Title</span>
          <span class="example-spacer"></span>
        </div>

        <div class="col-3 d-flex justify-content-end" *ngIf="data.token$">
          <button [routerLink]="'/settings'" mat-icon-button>
            <mat-icon color="secondary">settings</mat-icon>
          </button>
          <button mat-icon-button (click)="logout()">
            <mat-icon color="secondary">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
