<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <div class="row">
      <h2>{{ "settings.profile" | translate }}</h2>
    </div>
    <div class="row">
      <div class="col-2">{{ "settings.username" | translate }}:</div>
      <div class="col-10">{{ data.decodedToken$?.sub }}</div>
    </div>
    <div class="row d-flex-center">
      <div class="col-2">{{ "settings.email" | translate }}:</div>
      <div class="col-10">{{ data.decodedToken$?.email }}</div>
    </div>
    <div class="row mt-5">
      <button class="w-25" mat-raised-button color="primary" (click)="changeEmailModal()">
        {{ "settings.changeEmail" | translate }}
      </button>
    </div>
    <div class="row mt-1">
      <button class="w-25" mat-raised-button color="primary" (click)="resetPassword()">
        {{ "settings.resetPassword" | translate }}
      </button>
    </div>
  </div>
</ng-container>
