<ng-container *ngIf="data$ | async as data">
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign In</h1>
          <p class="text-xs-center">
            <a routerLink="/register">Need an account?</a>
          </p>
          <app-backend-error-messages
            *ngIf="data.backendErrors$"
            [backendErrors]="data.backendErrors$"
          ></app-backend-error-messages>
          <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input
                matInput
                type="email"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
            <button [disabled]="data.isSubmitting$" type="submit" class="btn btn-lg btn-primary pull-xs-right">
              Sign In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
