<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="currentUser$ | async">
      <a class="nav-link" routerLink="/feed" routerLinkActive="active">Your feed</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        queryParamsHandling="merge"
        >Global Feed</a
      >
    </li>
    <li class="nav-item" *ngIf="tagName">
      <a class="nav-link active" [routerLink]="['tags', tagName]" routerLinkActive="active">
        <i class="ion-pound"></i> {{ tagName }}
      </a>
    </li>
  </ul>
</div>
