<div class="container">
  <h2 mat-dialog-title>{{ "settings.updateAccount.title" | translate }}</h2>

  <div mat-dialog-content>
    <form class="container d-flex flex-column justify-content-center" [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <app-input
            formControlName="token"
            placeholder="{{ 'settings.updateAccount.verificationCode' | translate }}"
          ></app-input>
        </div>
        <div class="col-6">
          <button mat-raised-button color="primary" class="w-100" (click)="getVerificationToken()">
            {{ "settings.updateAccount.getToken" | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <app-input
          formControlName="newPassword"
          type="password"
          placeholder="{{ 'settings.updateAccount.newPassword' | translate }}"
        ></app-input>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <div class="d-flex-center">
      <button mat-raised-button color="primary" class="m-1" (click)="onDismiss()">
        {{ "common.buttons.close" | translate }}
      </button>
      <button mat-raised-button color="primary" class="m-1" (click)="onConfirm()">
        {{ "settings.updateAccount.changePassword" | translate }}
      </button>
    </div>
  </div>
</div>
