<div class="container">
  <h2 mat-dialog-title>Update Account</h2>

  <div mat-dialog-content>
    <form class="container d-flex flex-column justify-content-center" [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <app-input formControlName="token" placeholder="Verification code"></app-input>
        </div>
        <div class="col-6">
          <button mat-raised-button color="primary" class="w-100" (click)="getVerificationToken()">Get token</button>
        </div>
      </div>
      <div class="row">
        <app-input formControlName="newPassword" type="password" placeholder="New password"></app-input>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <div class="d-flex-center">
      <button mat-raised-button color="primary" class="m-1" (click)="onDismiss()">Close</button>
      <button mat-raised-button color="primary" class="m-1" (click)="onConfirm()">Change password</button>
    </div>
  </div>
</div>
