<div class="mat-elevation-z8">
  <table mat-table [dataSource]="_dataSource">
    <ng-container *ngFor="let tableColumn of tableConfig">
      <ng-container [matColumnDef]="tableColumn.value">
        <th mat-header-cell *matHeaderCellDef>{{ tableColumn.name }}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="tableColumn.type">
            <ng-container *ngSwitchCase="'ACTIONS'">
              <ng-container *ngFor="let button of tableColumn.actions">
                <button mat-raised-button color="primary" class="m-1" (click)="button.action(row)">
                  {{ button.name }}
                </button>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ displayNestedObject(row, tableColumn.value) }}
            </ng-container>
          </ng-container>
        </td>
        <!-- <ng-container *ngSwitch="tableColumn.type">
          <ng-container *ngSwitchCase="'ACTIONS'">
            <td mat-cell *matCellDef="let row">
              <ng-container *ngFor="let button of row.actions">
                <button mat-raised-button color="primary" class="m-1" (click)="(button.action)">
                  {{ button.name }}
                </button>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <td mat-cell *matCellDef="let row">{{ displayNestedObject(row, tableColumn.value) }}</td>
          </ng-container>
        </ng-container> -->
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onChangePage($event)"
    showFirstLastButtons
    aria-label="Select page of periodic rows"
  >
  </mat-paginator>
</div>
