<div class="tp-wrapper" *ngIf="data$ | async as data">
  <button *ngIf="isPreview" mat-raised-button color="primary" class="m-1" (click)="backToDeck()">Back</button>
  <ng-container *ngIf="data.card">
    <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
      <div class="tp-box__side tp-box__front d-flex justify-content-center align-items-center">
        {{ data.card.front?.content }}
      </div>
      <div class="tp-box__side tp-box__back d-flex justify-content-center align-items-center">
        {{ data.card.back?.content }}
      </div>
    </div>
    <div *ngIf="!isPreview" class="tp-box__answer">
      <button mat-raised-button color="primary" class="m-1" (click)="answer('WRONG')">Wrong</button>
      <button mat-raised-button color="primary" class="m-1" (click)="answer('HARD')">Hard</button>
      <button mat-raised-button color="primary" class="m-1" (click)="answer('GOOD')">Good</button>
      <button mat-raised-button color="primary" class="m-1" (click)="answer('EASY')">Easy</button>
      <button mat-raised-button color="primary" class="m-1" (click)="answer('SUSPEND')">Suspend</button>
    </div>
  </ng-container>
</div>
