.container {
  display: block;
  height: 600px;
  width: 80%;
  min-width: 700px;
  padding: 2em;
}

.tp-box__answer {
  position: relative;
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}
