<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <app-table
      [dataSource]="data.dataSource"
      [totalElements]="data.totalElements"
      [displayedColumns]="displayedColumns"
      [tableConfig]="tableConfig"
      (changePagination)="getDecks($event)"
    >
      <div table-nav class="row m-1">
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="primary" class="m-1" (click)="createExercise()">
            {{ "exercises.createExercise" | translate }}
          </button>
        </div>
      </div>
    </app-table>
  </ng-container>
</div>
