<ng-container *ngIf="data$ | async as data">
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign Up</h1>
          <p class="text-xs-center">
            <a routerLink="/login">Have an account?</a>
          </p>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-input formControlName="username" type="text" placeholder="Username"></app-input>
            <app-input formControlName="email" type="email" placeholder="Email"></app-input>
            <app-input type="password" placeholder="Password" formControlName="password"></app-input>
            <app-select formControlName="role" [options]="roles" placeholder="Role"></app-select>
            <button [disabled]="data.isSubmitting$" type="submit" class="btn btn-lg btn-primary pull-xs-right">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
