@import "src/assets/styles/variables.scss";

.content {
  //background-color: $primary-4;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 30px;
}

.container {
  height: 90%;
  overflow-x: hidden;
}
