<div class="container" *ngIf="data$ | async as data">
  <button *ngIf="isPreview" mat-raised-button color="primary" class="m-1" (click)="backToExercises()">
    {{ "common.buttons.back" | translate }}
  </button>
  <h2>{{ data.exercise?.instruction }}</h2>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">{{ data.exercise?.body }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-input [formControl]="answer" placeholder="{{ 'exercises.exercise.answer' | translate }}"></app-input>
    </div>
  </div>
  <div class="row" *ngIf="!isPreview">
    <div class="col-12">
      <button mat-raised-button color="primary" class="m-1" (click)="saveAnswer(true)">
        {{ "common.buttons.confirm" | translate }}
      </button>
      <button [disabled]="answer.invalid" mat-raised-button color="primary" class="m-1" (click)="saveAnswer()">
        {{ "common.buttons.confirm" | translate }}
      </button>
    </div>
  </div>
</div>
