<div class="container" *ngIf="data$ | async as data">
  <button *ngIf="isPreview" mat-raised-button color="primary" class="m-1" (click)="backToExercises()">
    {{ "common.buttons.back" | translate }}
  </button>
  <h2>{{ data.exercise?.instruction }}</h2>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">{{ data.exercise?.body }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="data.exercise?.imgUrl" class="row d-flex justify-content-center">
    <img [src]="data.exercise?.imgUrl" class="img-fluid img-border" />
  </div>
  <div *ngIf="data.exercise?.audioUrl" class="row d-flex justify-content-center">
    <audio controls>
      <source [src]="data.exercise?.audioUrl" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <ng-container *ngIf="!isPreview">
    <ng-container *ngFor="let control of formArray.controls; let i = index">
      <div class="row mt-3">
        <div class="col-12">
          <app-input [formControl]="control" placeholder="{{ 'exercises.exercise.answer' | translate }}"></app-input>
          <ng-container *ngIf="data.exerciseAnswers.length > 0">
            <span class="p-0 m-0 warn" *ngIf="!data.exerciseAnswers[i].correct"
              >{{ "exercises.exercise.correctAnswers" | translate }}: {{ data.exerciseAnswers[i].correctValues }}</span
            >
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="warn" class="m-1" (click)="saveAnswer(true)">
          {{ "exercises.exercise.suspend" | translate }}
        </button>
        <button [disabled]="formArray.invalid" mat-raised-button color="primary" class="m-1" (click)="saveAnswer()">
          {{ "common.buttons.confirm" | translate }}
        </button>
        <button mat-raised-button color="primary" class="m-1" (click)="nextExercise()">
          {{ "common.buttons.nextExercise" | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</div>
