<div mat-dialog-title class="dialog-title">{{ (isEdit ? "cards.editCard" : "cards.createCard") | translate }}</div>

<div mat-dialog-content class="dialog-content">
  <ng-container *ngFor="let form of formArray.controls; let i = index">
    <h5>{{ "cards.page" | translate }}: {{ i + 1 }}</h5>
    <form class="container d-flex flex-column justify-content-center" [formGroup]="form">
      <div class="row">
        <app-select
          formControlName="frontType"
          placeholder="{{ 'cards.table.cardType' | translate }}"
          [options]="cardTypeOption"
          #frontType
        ></app-select>
        <ng-container
          *ngTemplateOutlet="
            displayCardByType;
            context: { controlName: 'front', form, type: form.get('frontType')?.value }
          "
        />
      </div>
      <div class="row">
        <app-select
          formControlName="backType"
          placeholder="{{ 'cards.table.cardType' | translate }}"
          [options]="cardTypeOption"
          #backType
        ></app-select>
        <ng-container
          *ngTemplateOutlet="
            displayCardByType;
            context: { controlName: 'back', form, type: form.get('backType')?.value }
          "
        />
      </div>
    </form>
  </ng-container>
</div>

<div mat-dialog-actions>
  <div class="d-flex-center">
    <button mat-raised-button color="primary" class="m-1" (click)="addForm()">
      {{ "cards.actions.addForm" | translate }}
    </button>
    <button *ngIf="formArray.controls.length > 1" mat-raised-button color="primary" class="m-1" (click)="removeForm()">
      {{ "cards.actions.removeForm" | translate }}
    </button>
    <button [disabled]="!isValid" mat-raised-button color="primary" class="m-1" (click)="onConfirm()">
      {{ (isEdit ? "cards.editCard" : "cards.createCard") | translate }}
    </button>
    <button mat-raised-button color="warn" class="m-1" (click)="onDismiss()">
      {{ "common.buttons.close" | translate }}
    </button>
  </div>
</div>

<ng-template #displayCardByType let-controlName="controlName" let-form="form" let-type="type">
  <div [formGroup]="form">
    <ng-container [ngSwitch]="type">
      <app-input
        *ngSwitchCase="'TEXT'"
        [formControlName]="controlName"
        [placeholder]="'cards.table.' + controlName | translate"
      ></app-input>
      <app-file-upload
        *ngSwitchCase="'IMAGE'"
        [type]="fileTypes.IMAGE"
        (emitFile)="onFileSelected($event!, form.get(controlName))"
      >
      </app-file-upload>
      <app-file-upload
        *ngSwitchCase="'AUDIO'"
        [type]="fileTypes.AUDIO"
        (emitFile)="onFileSelected($event!, form.get(controlName))"
      >
      </app-file-upload>
    </ng-container>
  </div>
</ng-template>
