<div class="container">
  <h2 mat-dialog-title>{{ isEdit ? "Edit deck" : "Create Deck" }}</h2>

  <div mat-dialog-content>
    <form class="container d-flex flex-column justify-content-center" [formGroup]="form">
      <div class="row">
        <app-input formControlName="name" placeholder="Deck name"></app-input>
      </div>
      <div class="row">
        <app-select formControlName="language" placeholder="Language" [options]="languageOptions"></app-select>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <div class="d-flex-center">
      <button mat-raised-button color="primary" class="m-1" (click)="onDismiss()">Close</button>
      <button [disabled]="form.invalid" mat-raised-button color="primary" class="m-1" (click)="onConfirm()">
        {{ isEdit ? "Edit deck" : "Create deck" }}
      </button>
    </div>
  </div>
</div>
