$breakpoints: (
  "phone": 320px,
  "tablet": 576px,
  "laptop": 768px,
  "sm-desktop": 992px,
  "desktop": 1150px,
);

/* Background */
$grey_bg: #ebebeb;
$grey_bg-1: #f6f6f6;
$white_bg: #ffffff;
/* Lines */
$lines: #dddddd;
/* Primary colors */
$primary_green-6: #e8f5e9;
$primary_green-5: #c8e6c9;
$primary_green-4: #a5d6a7;
$primary_green-3: #81c784;
$primary_green-2: #66bb6a;
$primary_green-1: #4caf50;

/* Secondary colors */
$secondary_dark: #263238;

/* Neutral colors */
$neutral_black: #263238;
$neutral_dark_grey: #4d4d4d;
$neutral_mid_grey: #717171;
$neutral_light_grey: #89939e;
$neutral_grey_blue: #abbed1;
$neutral_silver: #f5f7fa;
$neutral_white: #fff;

/* Notifications */
$notification_error: #e53835;
$notification_warning: #fbc02d;
$notification_succes: #2e7d31;
$notification_info: #2194f3;
