$breakpoints: (
  "phone": 320px,
  "tablet": 576px,
  "laptop": 768px,
  "sm-desktop": 992px,
  "desktop": 1150px,
);

/* Background */
$grey_bg: #ebebeb;
$grey_bg-1: #f6f6f6;
$white_bg: #ffffff;
/* Lines */
$lines: #dddddd;
/* Primary colors */
$primary-6: #eff7fa;
$primary-5: #d3ebf3;
$primary-4: #a5d4e7;
$primary-3: #76bde0;
$primary-2: #47a7da;
$primary-1: #219ebc;

/* Contrast colors */
$contrast-color: #ffb703;

/* Secondary colors */
$secondary_dark: #263238;

/* Neutral colors */
$neutral_black: #263238;
$neutral_dark_grey: #4d4d4d;
$neutral_mid_grey: #717171;
$neutral_light_grey: #89939e;
$neutral_grey_blue: #abbed1;
$neutral_silver: #f5f7fa;
$neutral_white: #fff;

/* Notifications */
$notification_error: #e53835;
$notification_warning: #fbc02d;
$notification_succes: #2e7d31;
$notification_info: #2194f3;
