// reusable button
%btn-dm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 16px;
  font-size: 16px;
}

%disabled-btn {
  border: 1px solid color(neutral_dark_grey);
  color: color(neutral_dark_grey);
  cursor: not-allowed;
}

// mobile breakpoints

@mixin breakpoint($breakpoint) {
  @if not map-has-key($map: $breakpoints, $key: $breakpoint) {
    @warn ("nie ma takiego breakpoint'a");
  } @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  }
}

@mixin ul-flex() {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin clear-button() {
  border: none;
  background: transparent;
  font-size: 16px;
}
