@import "_variables.scss";
.app-icon {
  color: $primary-1;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}
